<form action="" class="profile__form form">
    <label for="avatar" class="profile__avatar-label">
        <input type="file" name="avatar" class="profile__avatar-input" id="avatar">
    </label>
    {{{ emailInput }}}
    {{{ loginInput }}}
    {{{ displayNameInput }}}
    {{{ firstNameInput }}}
    {{{ secondNameInput }}}
    {{{ phoneInput }}}
    <a href="" class="form__register-link">Change password</a>
    <a href="" class="form__register-link">Change data</a>
    <a href="/" class="form__register-link">Exit</a>
</form>
