<article class="chat-label">
    <div class="chat-label__photo">{{ photo }}</div>
    <div class="chat-label__description">
        <div class="chat-label__title">{{ title }}</div>
        <div class="chat-label__last-message">{{ last-message }}</div>
    </div>
    <div class="chat-label__time">{{ time }}</div>
    <div class="chat-label__missing">{{ missing }}</div>
</article>