<form action="" class="registration__form form">
    {{{ emailInput }}}
    {{{ loginInput }}}
    {{{ firstNameInput }}}
    {{{ secondNameInput }}}
    {{{ phoneInput }}}
    {{{ passwordInput }}}
    {{{ repeatPasswordInput }}}
    {{{ registerButton }}}
</form>
